.l-modal#green-pepper
  .m-modaloverlay
  .m-modal
    .book.bound
      .gp-pages
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
        .gp-page
