.l-modal#chinese-cabbage
  .m-modaloverlay
  .m-modal
    .book.bound
      .cc-pages
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
        .cc-page
