.l-modal#strawberry
  .m-modaloverlay
  .m-modal
    .book.bound
      .st-pages
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
        .st-page
