.l-modal#carrot
  .m-modaloverlay
  .m-modal
    .book.bound
      .ca-pages
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
        .ca-page
