.l-modal#banana
  .m-modaloverlay
  .m-modal
    .book.bound
      .ba-pages
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
        .ba-page
