.l-modal#eggplant
  .m-modaloverlay
  .m-modal
    .book.bound
      .ep-pages
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
        .ep-page
