.l-modal#grapes
  .m-modaloverlay
  .m-modal
    .book.bound
      .gr-pages
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
        .gr-page
