.navigation
  .header-logo.clearfix
    .about.icon-menu
    .logo-image
  .menu
    .category
      span work
      .border
    ul.works
      li.work
        .icon-color
        p.title-color 自然のいろと自然のかたち
        span.text-color 自然のいろと自然のかたちを<br/>集めました。
      li.work
        .icon-pan
        p.title-pan 食パン専門店「pain de mee.」
        span.text-color 食パンにもこだわりたい人のための<br/>食パン専門店です。
    
