include inc/core/_config
extends inc/core/_base
block title
  - var title = ''
  title= title
block prepend meta
  - var sitename = name
  - var keywords = page.top.keywords
  - var description = page.top.description
  - var ogpimage = page.top.ogpimage
  - var bodyClass = 'home'
block append meta
block body
  .l-container
    include inc/layout/_navigation

    #main.l-main
      include inc/layout/_l-color

    include inc/layout/_l-footer
  include inc/module/_m-button-1ap
  include inc/module/_m-button-2st
  include inc/module/_m-button-3pm
  include inc/module/_m-button-4to
  include inc/module/_m-button-5ep
  include inc/module/_m-button-6cc
  include inc/module/_m-button-7ba
  include inc/module/_m-button-8ki
  include inc/module/_m-button-9ca
  include inc/module/_m-button-10wm
  include inc/module/_m-button-11or
  include inc/module/_m-button-12pe
  include inc/module/_m-button-13gp
  include inc/module/_m-button-14gr
  include inc/module/_m-button-15on
  
block append scriptFooter
